.registerEmployeeInfo {
  display: flex;
  flex-direction: column;
}

.registerBox {
  display: flex;
  justify-content: center;
}

//契約形態等はいnputではなくoptionタグのためpadding使えない。別指定
.registerSelectOptionInput {
  width: 157px;
  height: 31px;
  margin: 3px 1px;
}

.registerInput,
.registerNameInput {
  width: 147px;
  height: 25px;
  padding: 1px 3px;
  margin: 3px 1px;
}

@media screen and (max-width: 800px) {
  .registerEmployeeInfo {
    margin-top: 3vh;
  }

  .registerNameInput {
    width: 120px;
  }
}
