@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@700&family=Kiwi+Maru:wght@300;400;500&display=swap');

body {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Caveat', cursive;
  font-family: 'Kiwi Maru', serif;
  margin: 0 5vw 0 5vw;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
}
